body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #878787;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.75rem;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
    }

li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #878787;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.25rem;
}

.weather-app-wrapper{
    max-width: 70%;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid #dadde1;
    border-radius: 5px;
}